@addTagHelper *, CasaDoCodigo.MVC
@using CasaDoCodigo.Areas.Catalogo.Models.ViewModels
@model CarrosselViewModel
@{ 
    var categoria = Model.Categoria;
}

<h3>@categoria.Nome</h3>

<div id="my-carousel-@categoria.Id" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @for (int pagina = 0; pagina < Model.NumPaginas; pagina++)
        {

            <div class="item @(pagina == 0 ? "active" : "")">
                <div class="row">
                    @{
                        var produtosDaPagina = Model.Produtos.Skip(pagina * Model.TamanhoPagina).Take(Model.TamanhoPagina);
                    }
                    @foreach (var produto in produtosDaPagina)
                    {
                        <partial name="_ProdutoCard" model="@produto" />
                    }
                </div>
            </div>

        }
    </div>
    <!-- Controls -->
    <partial name="_NavegacaoCarrossel" model="@categoria" />
</div>
